html,body {
    margin: 0;
    padding: 0;
}

#container {
    width: 400px;
    height: 400px;
    border: 20px solid red;
}

#container > div {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    border: 1px solid rgb(196, 186, 186);
}

