html,body {
    margin: 0;
    padding: 0;
}

#container {
    width: 600px;
    height: 600px;
    border: 20px solid rgba(235, 75, 26, 0.608);
    transition: 0.2s ease-in-out;
}

#main {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#container > div {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background: white;
    box-shadow:0px 0 0px 1px rgba(121, 118, 118, 0.75), inset 0px 0 0 1px rgba(121, 118, 118, 0.75)
}

